

<h1>Currency Converter</h1>
<div class="container">
  <div class="currency">
    <select id="currency-one">
      <option value="INR" selected>Indian Rupee(INR)</option>
      <option value="USD">US Dollar(USD)</option>
      <option value="EUR">Euro(EUR)</option>
      <option value="AUD">Australian Dollar(AUD)</option>
      <option value="GBP">British Pound(GBP)</option>
      <option value="JPY">Japanese Yen(JPY)</option>
      <option value="CAD">Canadian Dollar(CAD)</option>
      <option value="SGD">Singapore Dollar(SGD)</option>
      <option value="LKR">Sri Lankan Rupee(LKR)</option>
    </select>
    <input type="number" id="amount-one" placeholder="0" value="1" />
  </div>
  <div class="swap-rate-container">
    <button class="btn" id="swap">swap</button>
    <div class="rate" id="rate"></div>
  </div>
  <div class="container">
    <div class="currency">
      <select id="currency-two">
        <option value="INR">Indian Rupee(INR)</option>
        <option value="USD" selected>US Dollar(USD)</option>
        <option value="EUR">Euro(EUR)</option>
        <option value="AUD">Australian Dollar(AUD)</option>
        <option value="GBP">British Pound(GBP)</option>
        <option value="JPY">Japanese Yen(JPY)</option>
        <option value="CAD">Canadian Dollar(CAD)</option>
        <option value="SGD">Singapore Dollar(SGD)</option>
        <option value="LKR">Sri Lankan Rupee(LKR)</option>
      </select>
      <input type="number" id="amount-two" placeholder="0" value="0" />
    </div>
  </div>
  <script src="script.js"></script>
</div>
